/*
Responsive Dimensions
sm (640px)
md (768px)
lg (1024px)
xl (1280px)
xxl (1536px)
*/


/* Global Classes */
:root {
    --blue: #282667;
    --offwhite: #F6F6F6;
    --black: #111111;
    --white: #FFFFFF;
    --green: #29bd83;
}
html {
    scroll-behavior: smooth;
}
.headerFont {
    font-family: "Calibri", sans-serif;
}
.bodyFont {
    font-family: "Calibri", sans-serif;
}
.global-background-img {
	min-height:100%;
	background-size:cover !important;
	background-position: center !important;
	background-repeat: no-repeat !important;
}



/* Font Size Classes */
.xxl-text {
    font-size: 2.8rem;
    line-height: 1 !important;
}
.xl-text {
    font-size: 2.3rem;
    line-height: 1.15 !important;
}
.lg-text {
    font-size: 1.8rem;
    line-height: 1.2 !important;
}
.md-text {
    font-size: 1.35rem;
    line-height: 1.25 !important;
}
.sm-text {
    font-size: 1rem;
    line-height: 1.3 !important;
}
.xs-text {
    font-size: 0.85rem;
    line-height: 1.35 !important;
}



/* Scrollbar Classes */
::-webkit-scrollbar {
    width: 7px;
}

::-webkit-scrollbar-track {
    background: var(--offwhite); 
}

::-webkit-scrollbar-thumb {
    background: var(--black);
    border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
    background: var(--darkblue); 
}
.splide__style .splide__slide img {
	width : auto;
	height: auto;
    max-height:100vh;
}

.splide__style .splide__pagination__page.is-active{
    background:var(--darkblue) !important;
}



/* Padding Classes */
.no-padding-y {
	padding-top: 0%;
	padding-bottom: 0%;
}
.xs-padding-y {
	padding-top: 1%;
	padding-bottom: 1%;
}
.sm-padding-y {
	padding-top: 2%;
	padding-bottom: 2%;
}
.md-padding-y {
	padding-top: 5%;
	padding-bottom: 5%;
}
.lg-padding-y {
	padding-top: 7%;
	padding-bottom: 7%;
}
.xl-padding-y {
	padding-top: 12%;
	padding-bottom: 12%;
}



.no-padding-x {
	padding-left: 0%;
	padding-right: 0%;
}
.xs-padding-x {
	padding-left: 1%;
	padding-right: 1%;
}
.sm-padding-x {
	padding-left: 2%;
	padding-right: 2%;
}
.md-padding-x {
	padding-left: 5%;
	padding-right: 5%;
}
.lg-padding-x {
	padding-left: 7%;
	padding-right: 7%;
}
.xl-padding-x {
	padding-left: 12%;
	padding-right: 12%;
}



/* Navigation Classes */
.menu-toggle .bar{
    display: block;
    cursor: pointer;
    width: 25px;
    height: 3px;
    background-color: var(--white);
    margin: 5px auto;
    -webkit-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}
.menu-toggle:hover{
    cursor: pointer;
}
#mobile-menu.is-active .bar:nth-child(2){
    opacity: 0;
}
.mobile-nav {
    transform: translate(0%)!important;
}

#mobile-menu.is-active .bar:nth-child(1){
    -webkit-transform: translateY(8px) rotate(45deg);
    -ms-transform: translateY(8px) rotate(45deg);
    -o-transform: translateY(8px) rotate(45deg);
    transform: translateY(8px) rotate(45deg);
}
#mobile-menu.is-active .bar:nth-child(3){
    -webkit-transform: translateY(-8px) rotate(-45deg);
    -ms-transform: translateY(-8px) rotate(-45deg);
    -o-transform: translateY(-8px) rotate(-45deg);
    transform: translateY(-8px) rotate(-45deg);
}



/* Button Classes */
.transparentButton-white {
    background-color: transparent;
    color: var(--white);
    border-radius: 10px;
    border: 2px solid;
    border-color: var(--white);
    transition: color 0.2s ease-out;
}
.transparentButton-white:hover {
    color: var(--blue);
    border-color: var(--blue);
    transition: color 0.2s ease-out;
}
.transparentButton {
    background-color: transparent;
    color: var(--black);
    border-radius: 10px;
    border: 2px solid;
    border-color: var(--black);
    transition: color 0.2s ease-out;
}
.transparentButton:hover {
    color: var(--blue);
    border-color: var(--blue);
    transition: color 0.2s ease-out;
}
.solidButton {
    background-color: var(--offwhite);
    color: var(--blue);
    border-radius: 10px;
    transition: background-color 0.2s ease-out;
}
.solidButton:hover {
    background-color: var(--blue);
    color: var(--offwhite);
    transition: background-color 0.2s ease-out;
}



/* Image Classes */
.img-100-cover {
    height:0;
    overflow:hidden;
    padding-bottom:100%;
    position: relative;
}
.img-100 {
    position:absolute;
    left:0;
    top:0;
    width:100%;
    height:100%;
    object-fit:cover;
}

/* slanted div */
.slanted-div {
    position: relative;
    padding: 200px 0;
    background: #128c7e;
    overflow: visible;
    z-index: 1;
  }
  
.slanted-div:before, .slanted-div:after {
    content: '';
    width: 100%;
    height: 100%;
    position: absolute;
    background: inherit;
    z-index: -1;
    top: 0;
    transform-origin: left top;
    transform: skewY(-3deg);
  }
  
  .slanted-div:after {
    bottom: 0;
    transform-origin: right bottom;
    transform: skewY(-3deg);
  }


/* Home Page Classes */
.bluebird-logo {
    width: 15rem;
}
@media screen and (max-width: 768px) {
    .bluebird-logo {
        width: 10rem;
    }
}
@media screen and (min-width: 1280px){
    .hero-img-card {
        height: 0;
        overflow: hidden;
        padding-bottom: 45%;
        position: relative;
    }
}
@media screen and (max-width: 1280px){
    .hero-img-card {
        position: relative;
        width: 100%;
        height: 85vh;
    }
}
.hero-img-card::after {
    position: absolute;
    content: '';
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;
    background: rgba(0,0,0,0.2);
}
.hero-img-cover {
    position:absolute;
    left:0;
    top:0;
    width:100%;
    height:100%;
    object-fit:cover;
}



/*

@media screen and (min-width: 1280px) {
    
}
@media screen and (max-width: 1280px) {
	
}
@media screen and (max-width: 1024px) {
	
}
@media screen and (max-width: 768px) {
	
}
@media screen and (max-width: 640px) {
	
}

*/