/*
Responsive Dimensions
sm (640px)
md (768px)
lg (1024px)
xl (1280px)
xxl (1536px)
*/


/* Global Classes */
:root {
    --blue: #282667;
    --offwhite: #F6F6F6;
    --black: #111111;
    --white: #FFFFFF;
    --green: #6ac5a2;
    --darkGreen:#128c7e;
}
html {
    scroll-behavior: smooth;
}
/* .headerFont {
    font-family: 'Homemade Apple', cursive;
} */
.bodyFont {
    font-family: "Calibri", sans-serif;
}
.global-background-img {
	min-height:100%;
	background-size:cover !important;
	background-position: center !important;
	background-repeat: no-repeat !important;
}



/* Font Size Classes */
@media screen and (min-width: 1280px) {
    .xxl-text {
		font-size: 65px;
		line-height: 1;
	}
	.xl-text {
		font-size: 42px;
		line-height: 1.15;
	}
	.lg-text {
        font-size: 36px;
		line-height: 1.25;
    }
    .md-text {
        font-size: 24px;
		line-height: 1.35;
    }
    .sm-text {
        font-size: 18px;
		line-height: 1.5;
    }
	.xs-text {
		font-size: 14px;
		line-height: 1.65;
	}
}
@media screen and (max-width: 1280px) {
	.xxl-text {
		font-size: 55px;
		line-height: 1;
	}
    .xl-text {
		font-size: 40px;
		line-height: 1.15;
	}
	.lg-text {
        font-size: 32px;
		line-height: 1.25;
    }
    .md-text {
        font-size: 20px;
		line-height: 1.35;
    }
    .sm-text {
        font-size: 16px;
		line-height: 1.5;
    }
	.xs-text {
		font-size: 12px;
		line-height: 1.65;
	}
}
@media screen and (max-width: 1024px) {
	.xxl-text {
		font-size: 50px;
		line-height: 1;
	}
    .xl-text {
		font-size: 36px;
		line-height: 1.15;
	}
	.lg-text {
        font-size: 30px;
		line-height: 1.25;
    }
    .md-text {
        font-size: 20px;
		line-height: 1.35;
    }
    .sm-text {
        font-size: 16px;
		line-height: 1.5;
    }
	.xs-text {
		font-size: 12px;
		line-height: 1.65;
	}
}
@media screen and (max-width: 768px) {
	.xxl-text {
		font-size: 45px;
		line-height: 1;
	}
    .xl-text {
		font-size: 28px;
		line-height: 1.15;
	}
	.lg-text {
        font-size: 24px;
		line-height: 1.25;
    }
    .md-text {
        font-size: 18px;
		line-height: 1.35;
    }
    .sm-text {
        font-size: 16px;
		line-height: 1.5;
    }
	.xs-text {
		font-size: 12px;
		line-height: 1.65;
	}
}
@media screen and (max-width: 640px) {
	.xxl-text {
		font-size: 40px;
		line-height: 1;
	}
    .xl-text {
		font-size: 26px;
		line-height: 1.15;
	}
	.lg-text {
        font-size: 22px;
		line-height: 1.25;
    }
    .md-text {
        font-size: 18px;
		line-height: 1.35;
    }
    .sm-text {
        font-size: 14px;
		line-height: 1.5;
    }
	.xs-text {
		font-size: 12px;
		line-height: 1.65;
	}
}



/* Scrollbar Classes */
::-webkit-scrollbar {
    width: 7px;
}

::-webkit-scrollbar-track {
    background: var(--offwhite); 
}

::-webkit-scrollbar-thumb {
    background: var(--black);
    border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
    background: var(--blue); 
}

.splide__arrows{
    display:none;
}
.splide--nav .splide__track .splide__list .splide__slide.is-active{
    border-color: var(--white) !important;
    transition: border-color 0.2s ease-in;
}
.gallery-img-card-container {
    height:0;
    overflow:hidden;
    padding-bottom:50%;
    position: relative;
}



/* Padding Classes */
.no-padding-y {
	padding-top: 0%;
	padding-bottom: 0%;
}
.xs-padding-y {
	padding-top: 1%;
	padding-bottom: 1%;
}
.sm-padding-y {
	padding-top: 2%;
	padding-bottom: 2%;
}
.md-padding-y {
	padding-top: 5%;
	padding-bottom: 5%;
}
.lg-padding-y {
	padding-top: 7%;
	padding-bottom: 7%;
}
.xl-padding-y {
	padding-top: 12%;
	padding-bottom: 12%;
}



.no-padding-x {
	padding-left: 0%;
	padding-right: 0%;
}
.xs-padding-x {
	padding-left: 1%;
	padding-right: 1%;
}
.sm-padding-x {
	padding-left: 2%;
	padding-right: 2%;
}
.md-padding-x {
	padding-left: 5%;
	padding-right: 5%;
}
.lg-padding-x {
	padding-left: 7%;
	padding-right: 7%;
}
.xl-padding-x {
	padding-left: 12%;
	padding-right: 12%;
}



/* Navigation Classes */
.bluebird-logo {
    width: 15rem;
    cursor: pointer;
}
.menu-toggle .bar{
    display: block;
    cursor: pointer;
    width: 25px;
    height: 3px;
    background-color: var(--white);
    margin: 5px auto;
    -webkit-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}
.menu-toggle:hover{
    cursor: pointer;
}
#mobile-menu.is-active .bar:nth-child(2){
    opacity: 0;
}
.mobile-nav {
    transform: translate(0%)!important;
}
.nav-menu {
    transform: translate(-101%);
    transition: transform 0.7s ease-in-out;
}
.mobile-nav {
    transform: translate(0%)!important;
    transition: transform 0.7s ease-in-out;
}

#mobile-menu.is-active .bar:nth-child(1){
    -webkit-transform: translateY(8px) rotate(45deg);
    -ms-transform: translateY(8px) rotate(45deg);
    -o-transform: translateY(8px) rotate(45deg);
    transform: translateY(8px) rotate(45deg);
}
#mobile-menu.is-active .bar:nth-child(3){
    -webkit-transform: translateY(-8px) rotate(-45deg);
    -ms-transform: translateY(-8px) rotate(-45deg);
    -o-transform: translateY(-8px) rotate(-45deg);
    transform: translateY(-8px) rotate(-45deg);
}
.social-icons {
    font-size: 40px;
    color: var(--white);
    cursor: pointer;
}
.social-icons:not(:first-child) {
    margin-left: 1.25rem;
}
.nav-item {
    cursor: pointer;
}
.nav-item-desktop {
    cursor: pointer;
}
.nav-item:not(:first-child) {
    margin-top: 1.25rem;
}
.nav-item-desktop:not(:first-child) {
    margin-left: 2rem;
}
.nav-item-desktop:last-child {
    margin-right: 2rem;
}


/* Button Classes */
.transparentButton-white {
    background-color: transparent;
    color: var(--white);
    border-radius: 10px;
    border: 2px solid;
    border-color: var(--white);
    transition: color 0.2s ease-out;
}
.transparentButton-white:hover {
    color: var(--blue);
    border-color: var(--blue);
    transition: color 0.2s ease-out;
}
.transparentButton {
    background-color: transparent;
    color: var(--black);
    border-radius: 10px;
    border: 2px solid;
    border-color: var(--black);
    transition: color 0.2s ease-out;
}
.transparentButton:hover {
    color: var(--blue);
    border-color: var(--blue);
    transition: color 0.2s ease-out;
}
.solidButton {
    background-color: var(--offwhite);
    color: var(--blue);
    border-radius: 10px;
    transition: background-color 0.2s ease-out;
}
.solidButton:hover {
    background-color: var(--blue);
    color: var(--offwhite);
    transition: background-color 0.2s ease-out;
}



/* Image Classes */
.img-100-cover {
    height:0;
    overflow:hidden;
    padding-bottom:100%;
    position: relative;
}
.img-100 {
    position:absolute;
    left:0;
    top:0;
    width:100%;
    height:100%;
    object-fit:cover;
}




/* Home Page Classes */
@media screen and (max-width: 768px) {
    .bluebird-logo {
        width: 10rem;
    }
}
@media screen and (min-width: 1280px){
    .hero-img-card {
        height: 0;
        overflow: hidden;
        padding-bottom: 45%;
        position: relative;
    }
    .hero-img-card-black {
        height: 0;
        overflow: hidden;
        padding-bottom: 45%;
        position: relative;
    }
}
@media screen and (max-width: 1280px){
    .hero-img-card {
        position: relative;
        width: 100%;
        height: 85vh;
    }
    .hero-img-card-black {
        position: relative;
        width: 100%;
        height: 85vh;
    }
}
.hero-img-card::after {
    position: absolute;
    content: '';
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;
    background: rgba(0,0,0,0.2);
}
.hero-img-card-black::after {
    position: absolute;
    content: '';
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;
    background: rgba(0,0,0,0.5);
}
.hero-img-cover {
    position:absolute;
    left:0;
    top:0;
    width:100%;
    height:100%;
    object-fit:cover;
}
.slanted-div {
    position: relative;
    padding: 75px 0;
    background: var(--green);
    overflow: visible;
    z-index: 1;
}
  
.slanted-div:before, .slanted-div:after {
    content: '';
    width: 100%;
    height: 100%;
    position: absolute;
    background: inherit;
    z-index: -1;
    top: 0;
    transform-origin: left top;
    transform: skewY(-3deg);
}
  
.slanted-div:after {
    bottom: 0;
    transform-origin: right bottom;
    transform: skewY(-3deg);
}



/* Contact Page Classes */
@media screen and (min-width: 768px){
    .map-container {
        width: calc(100% - 1px);
        max-width: 100%;
        height: 80vh;
    }
}
@media screen and (max-width: 768px){
    .map-container {
        width: calc(100% - 1px);
        max-width: 100%;
        height: 50vh;
    }
}

@media screen and (min-width: 768px){
    .contact-map-container {
        width: calc(100% - 1px);
        max-width: 100%;
        height: 66vh;
    }
}
@media screen and (max-width: 768px){
    .contact-map-container {
        width: calc(100% - 1px);
        max-width: 100%;
        height: 40vh;
    }
}

.infobox-content{
    min-width: max-content;
    padding: 0;
    background: #FFF;
    color: #000;
    border-radius: 5px;
}



/*

@media screen and (min-width: 1280px) {
    
}
@media screen and (max-width: 1280px) {
	
}
@media screen and (max-width: 1024px) {
	
}
@media screen and (max-width: 768px) {
	
}
@media screen and (max-width: 640px) {
	
}

*/